<div class="footer-dark">

    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Team:</a></li>
                        <li><a href="#">Shelly Krihali & Bar Ovda</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>EasyTest- study and exam paper free</h3>
                    <p>Easytest is your best way to orginaize and use your summaries for open book exams!
                        Good Luck in your exam!
                    </p>
                </div>
            </div>
            <p class="copyright">EasyTest © 2020</p>
        </div>
    </footer>
    </div>