.grid-container {
    display: grid;
    padding-top: 50px;

    grid-template-columns: 400px 400px 400px;
  
  }
  .courseName {
    padding-top: 35px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
  }
  .courseName span {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
  }
  .search {
    max-width: 500px;
    padding-top: 50px;
    margin:auto;
  }
  