<form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmitLogIn()">
    <div id="login-box">
      <div class="left">
        <h1>Log in</h1>
  
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <button type="submit" [disabled]="!loginForm.valid" mat-button 
          class="mat-raised-button mat-primary social-signin">Login</button>
        <mat-error *ngIf="!service.isValid">{{serverErr}}</mat-error>
  
      </div>
  
    </div>
</form>