<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/">
        <div class="navbar-logo">
          <img
            src="https://lh5.googleusercontent.com/BhhgMLODm65M2l8bSyf9Dv4h2P5PdbCmunbiAZnAGHlZvvRDb182CDDoU5UOtueeH2GH8j3xtqL2eqqJl3yjAkf7GsJuekOY_7XDhElGAB6fPDDF_vEvBcqHNHEP6Qf8NERuUBO68VU"
            width="65" height="65" alt="logo">
        </div>
      </a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"
      *ngIf="!getLoggedUser();else elseBlock">

    </div>
    <ng-template #elseBlock>
      <div>
        <ul class="nav navbar-nav navbar-center">
          <li><a routerLink="/home">Home</a></li>
          <li><app-timer *ngIf="isValid"></app-timer></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="user">
          <p>HI, {{user.name}}</p>
        </li>
        <li class="user"><img class="users-img" [src]="user.imageUrl" /> </li>
        <li><button (click)="openConfirmationDialog()" >Finish Exam</button></li>
      </ul>
    </ng-template>

  </div>
</nav>