<!--div class="p-5 text-center bg-image home">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <div class="center">
                    <div class="logo">
                        <img src="https://lh5.googleusercontent.com/BhhgMLODm65M2l8bSyf9Dv4h2P5PdbCmunbiAZnAGHlZvvRDb182CDDoU5UOtueeH2GH8j3xtqL2eqqJl3yjAkf7GsJuekOY_7XDhElGAB6fPDDF_vEvBcqHNHEP6Qf8NERuUBO68VU"
                            alt="logo">
                    </div>
                </div>
                <div class="main-title">
                    <h3 class="deepshd"> Exams. Without papers </h3>

                </div>
            </div>
        </div>
    </div>
</div-->
<app-timer></app-timer>
<app-files-table></app-files-table>